<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'evacModelUI/style.css' %}">
    <title>Home Page</title>
  </head>
  <body>
    <div>
      <h1>Welcome to the Evacuation<br>Modeling Simulation!</h1>
      <p class="des">Please enter your desired inputs.</p>
    </div>

    <div>
      <label for="city">Select a city:</label> 
      <select name="cities" id="cities" required> 
        <option value="" selected disabled></option>
        <option value="houston">Houston</option> 
        <option value="college station">College Station</option> 
        <option value="hawaii">Hawaii</option> 
      </select>
    </div>

    <div>
      <label for="disaster">Select a disaster event:</label> 
      <select name="disasters" id="disasters" required> 
        <option value="" selected disabled></option>
        <option value="fire">Fire</option> 
        <option value="flooding">Flooding</option> 
        <option value="hurricane">Hurricane</option> 
      </select>
    </div>
  
    <div>
      <label for="population">Enter population number:</label>
      <input type="number" id="population" name="population" min="1" required>
    </div>

    <div>
      <input type="submit" value="Run Simulation">
    </div>
  </body>
</html>
