{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %}
<div class="homeBody">
  <video autoplay loop muted id="backgroundVideo">
    <source src="{% static 'evacModelUI/SimulationVid2.mp4' %}" type="video/mp4">
  </video>

  <div class="container header">
    <h1 class="fadeInUp-header1">Welcome to the Evacuation<br>Modeling Simulation!</h1>
    <div class="container">
      <h4 class="fadeInUp-header2" style="padding: 10px 0 15px 0;"><em>Please enter your desired inputs.</em></h4>
    </div>
  </div>

  <div class="input">
    <form action="{% url 'results' %}" method="post">
    {% csrf_token %}
      <fieldset>
        <label for="city" class="fadeInUp-body1">Select a city:</label> 
        <select name="cities" id="cities" class="fadeInUp-body1" required> 
          <option value="" selected disabled></option>
          <option value="Houston">Houston</option> 
          <option value="College Station">College Station</option> 
          <option value="Hawaii">Hawaii</option> 
        </select> <br><br>

        <label for="event" class="fadeInUp-body2">Select a disaster event:</label> 
        <select name="event" id="event" class="fadeInUp-body2" required> 
          <option value="" selected disabled></option>
          <option value="Fire">Fire</option> 
          <option value="Flooding">Flooding</option> 
          <option value="Hurricane">Hurricane</option> 
          <option value="Explosion">Explosion</option>
        </select> <br><br>

        <label for="population" class="fadeInUp-body3">Enter population number:</label>
        <input type="number" id="population" name="population" class="fadeInUp-body3" min="1" max="10000" required>
      </fieldset> <br>

      <div>
        <input type="submit" value="Run Simulation" class="fadeInUp-body4 button1">
      </div>
    </form>
  </div>
  {% endblock content %}